body {
    margin: 1rem 2rem;
    box-sizing: border-box;
}

:root {
  --blue: 	#2c83ec;
}

.banner{
  background: var(--blue);
  color: whitesmoke;
}

/* Nav Bar CSS */
.navbar{
    margin-bottom: 1.5rem;
}

/* About us CSS */
.about-us {
    margin-top: 2rem;
  }
  
  /* This div design part is
    used as an Image */
.profile-picture {
float: right;
margin-left: 5rem;
/* Change the shape according
    to the image */
shape-outside: circle();
}

.profile-picture img{
width: 220px;
height: 220px;
border-radius: 50%;
object-fit: cover;
}

/* Service CSS */
.services {
margin-top: 6rem;
}

.services img {
    width: 2rem;
    margin-left: 0.5rem;
}

.services .card {
margin-bottom: 1rem;
}

/* Why us CSS */
.why-us {
    margin-top: 3rem;
  }
  
.why-us hr{
    margin: 20px 200px;
  }
  .carousel-control-next-icon:after{
    content: '>';
    color: blue;
    
    }
  .carousel-control-prev-icon:after {
    content: '<';
    color: blue;
  }

/*Article CSS  */
.articles{
    margin-top: 3rem;
  }

  .articles .carousel-control-next-icon:after{
    content: '>';
    color: blue;
    font-size: 3rem;
    
    }
  .articles .carousel-control-prev-icon:after {
    content: '<';
    color: blue;
    font-size: 3rem;
  }

/* Footer CSS */
.blog-footer {
    margin-top: 3rem;
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }

  .footer-small {
    display: none;
  }

/* Media */
@media (max-width: 800px) {
    .profile-picture img{
        width: 120px;
        height: 120px;
    }
    .why-us hr{
        margin: 20px 20px;
    }
    /* .carousel-control-next-icon:after{
        display: none;
    }
      .carousel-control-prev-icon:after {
        display: none;
    } */

    /* Article Media query CSS */
    .articles img {
      display: none;
    }
    .articles .carousel-control-next-icon:after{
      content: '>';
      color: var(--blue);
      font-size: 2rem;
      position: absolute;
      top: -5.5rem;
      }
    .articles .carousel-control-prev-icon:after {
      content: '<';
      color: var(--blue);
      font-size: 2rem;
      position: absolute;
      top: -5.5rem;
    }
    .articles .card-text{
      display: none;
    }
    .articles .card{
      border: none;
    }

    .footer-small {
      display: block;
      text-align: left;
      margin: 1rem;
      margin-bottom: 2rem;
    }

    .blog-footer .table {
      display: none;
    }
}

/* article.html CSS*/
.social{
    /* text-align: center; */
}
.social img{
    width: 2rem;
    margin-right: 2rem;
}

/* service & price html CSS */
.services-row{
  margin-top: 1rem;
}
.price{
  margin-top: 3rem;
}
.services-row .col-md-5 img{
  width: 100%;
}
@media (max-width: 800px){
  .services-row .col-md-5 img{
    display: none;
  }
  .pricing-banner{
    display: none;
  }
}